@{
    ViewBag.Tab = "Home";
}
<section class="featured">
    <div>
        <h1>Code52 apps just got radder</h1>
        <p>Hard to believe, but Code52 apps like <a href="http://www.code52.org/DownmarkerWPF/">Markpad</a> and <a href="http://www.code52.org/carnac/">Carnac</a> have just become more powerful.<br /><br /> 
            A <a href="http://nuget.org/">Nuget</a> backed extension system allows you to throw any functionality you need into apps without bloat, without delays.</p>

    </div>
    <img style="margin-bottom:-5px;" src="@Url.Content("~/content/images/hero.png")" alt="NuGet GUI Window" />
</section> 
